@value icons_css: "../../icons.css";
@value flex_css: "../../flex.css";
@value layout_css: "../layout/layout.css";
@value buttons_css: "../../buttons.css";

@value sm, md, lg from "../../shared.css";
@value pad from layout_css;

.contentHd {
    composes: head from layout_css;
    composes: lightSep from layout_css;
}

.contentBd {
    composes: body from layout_css;
    composes: contentWidth from layout_css;

    min-width: 600px;
}

/* Meta layout */
.search,
.pages,
.showingResults {
    flex: 0 0 60%;

    @media screen and (max-width: lg) {
        flex: 0 0 50%;
    }
}

.pages,
.showingResults {
    @media screen and (max-width: lg) {
        font-size: 14px;
    }
}

.manage,
.sort {
    flex: 0 0 40%;
    text-align: right;

    @media screen and (max-width: lg) {
        flex: 0 0 50%;
    }
}

/* Metadata controls */
.search {
    position: relative;
    margin-bottom: 1em;
}

.searchInput {
    width: 100%;
    padding: 5px;
}

.searchClear {
    position: absolute;
    right: 0;

    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;

    background: none;
    border: none;
}

.searchClear::after {
    content: "+";

    display: inline-block;
    font-size: 28px;
    transform: rotate(45deg);
}

.itemsPerLabel {
    padding-left: 20px;
}

.itemsPer {
    max-width: 100px;
}

.metas {
    composes: hbox from flex_css;
    composes: global(pure-form);

    flex-wrap: wrap;
    padding-bottom: pad;
}

.pages {
    text-align: left;

    @media screen and (max-width: lg) {
        font-size: 14px;
    }
}

.pages *:not(:first-child) {
    margin-left: 20px;
}

.nextPage {
    composes: secondary from buttons_css;

    text-align: right;
}

.prevPage {
    composes: secondary from buttons_css;
}

.currPage {
    vertical-align: middle;
    font-size: 18px;
}

.add {
    composes: add from buttons_css;
}

.edit {
    composes: primary from buttons_css;
}

.entriesContainer {
    composes: lightSepTop from layout_css;

    width: 100%;
    margin: 0 auto;
}
