@value flex_css: "../../flex.css";
@value sm, md, lg from "../../shared.css";

@value pad: 20px;
@value headHeight: 48px;
@value color_background: #FAFAFA;

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    composes: hbox from flex_css;

    min-height: 100%;

    @media screen and (max-width: sm) {
        flex-direction: column;
    }
}

.section {
    composes: vbox from flex_css;

    width: 100%;
}

.content {
    composes: vbox from flex_css;
    flex: 1 0 calc(100% - 320px);
    position: relative;

    background: color_background;
}

.contentWidth {
    max-width: 1170px;
    min-width: 720px;

    @media screen and (max-width: sm) {
        min-width: auto;
    }
}

.textContentWidth {
    max-width: 850px;
    min-width: 550px;

    @media screen and (max-width: sm) {
        min-width: auto;
    }
}

.ellipsisOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.padding {
    padding: 1em pad;
}

.padding_x {
    padding-right: pad;
    padding-left: pad;
}

.head {
    composes: padding_x;
    composes: hbox from flex_css;

    justify-content: space-between;
    align-items: center;

    flex: 0 0 auto;
    min-height: headHeight;
}

.body {
    composes: vbox from flex_css;
    composes: padding;

    flex: 1 0 auto;
    overflow-y: auto;

    @media screen and (max-width: sm) {
        position: relative;
    }
}

.title,
.subTitle {
    margin-top: 0;
}

.sep {
    border-bottom: solid 1px #222;
    box-shadow: 0 1px 0 #545454;
}

.lightSepTop {
    border-top: solid 1px rgba(171, 171, 171, 0.75);
}

.lightSep {
    border-bottom: solid 1px rgba(171, 171, 171, 0.75);
    box-shadow: 0 1px 0 rgba(220, 220, 220, 0.75);
}
