/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

button,
select,
html,
textarea,
input {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
